@charset "UTF-8";
body {
  font-family: "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝";
  padding: 0;
  margin: 0; }

.container {
  width: 900px;
  margin: 0 auto; }

#header {
  width: 100%;
  height: 50px;
  background-color: white;
  margin: 0px;
  padding: 0px;
  box-shadow: 2px 4px 20px #e3e3e3;
  -moz-box-shadow: 2px 4px 20px #e3e3e3;
  -webkit-box-shadow: 2px 4px 20px #e3e3e3; }
  #header .container #logo {
    display: inline-block;
    margin-top: 8px;
    width: 120px;
    position: relative;
    left: 41%; }
  #header .container #account {
    background-color: #32acba;
    padding: 3px 7px;
    margin-top: 7px;
    float: right;
    line-height: 30px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    border-radius: 8px; }
    #header .container #account:hover {
      background-color: #009bba; }

#theme {
  margin: 30px 0 -20px;
  text-align: center;
  font-size: 18px; }

#load_more {
  margin-bottom: 50px; }

#todays_topic {
  font-size: 25px;
  width: 100%;
  text-align: center; }

#music_search {
  font-size: 13px;
  width: 400px;
  height: 30px;
  margin: 0 0 30px 25px;
  position: relative;
  left: 25%;
  text-align: center; }

#search_container {
  width: auto;
  height: auto; }

#search_result {
  background-color: #dddddd;
  float: left;
  width: 50%;
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-bottom: 100px; }

#songs_list {
  float: left;
  background-color: #cccccc;
  width: 50%;
  height: 500px;
  overflow: scroll;
  margin-bottom: 100px; }

.result_box {
  width: 450px;
  height: 36px;
  margin: 10px 0 0 20px; }
  .result_box:hover {
    background-color: #e1e1e1; }
  .result_box:after {
    clear: both; }
  .result_box p {
    float: left;
    font-size: 10px; }
  .result_box div {
    float: left; }
    .result_box div img {
      margin-top: 3px; }
  .result_box .text {
    height: 35px;
    padding-left: 10px;
    width: 300px; }
    .result_box .text p {
      text-overflow: ellipsis; }

.ribbon {
  text-align: center;
  font-size: 16px !important;
  width: 60%;
  position: relative;
  background: #32acba;
  color: white;
  text-align: center;
  padding: 1em 2em;
  margin: 3em auto 3em; }

.ribbon:before, .ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #298798;
  z-index: -1; }

.footer {
  position: fixed;
  bottom: 0px;
  border-top: 1px solid #cccccc;
  width: 900px; }

#go {
  float: right;
  background-color: #32acba;
  padding: 3px 7px;
  margin: 7px 15px 0 0;
  float: right;
  line-height: 30px;
  text-decoration: none;
  color: white;
  font-size: 15px;
  border-radius: 8px; }
  #go:hover {
    background-color: #009bba; }

.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent; }

.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent; }

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #286680 transparent transparent transparent;
  bottom: -1em; }

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em; }

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0; }

#playlists {
  width: 720px;
  margin: 0 auto; }

.songs_list {
  float: left;
  margin: 10px;
  width: 220px;
  height: 200px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  border: solid 1px #cccccc;
  box-shadow: 2px 4px 20px #e3e3e3;
  -moz-box-shadow: 2px 4px 20px #e3e3e3;
  -webkit-box-shadow: 2px 4px 20px #e3e3e3; }
  .songs_list p {
    clear: both;
    width: 100%;
    text-align: center; }
  .songs_list .list_inner {
    width: 198px;
    margin: 0 auto;
    overflow: hidden; }
  .songs_list ul {
    margin: 0;
    padding: 0; }
    .songs_list ul li {
      margin: 10px 5px;
      float: left;
      list-style-type: none; }

.author {
  width: 200px;
  margin: 0 auto; }
  .author p.img_wrap {
    width: 50px;
    margin: -20px auto 0;
    height: 50px; }
    .author p.img_wrap img {
      border-radius: 30px; }
  .author .name {
    text-align: center;
    margin: 10px;
    height: 50px; }

.topic_song_list {
  padding: 0;
  margin: 0 auto; }
  .topic_song_list div {
    margin: 0 20px;
    float: left;
    width: 320px; }
    .topic_song_list div span {
      font-size: 13px; }

#list_wrap {
  margin: 0 auto;
  width: 720px; }
