= partial 'layouts/header'
- if current_account.blank?
  .container
    %p.ribbon
      %strong.ribbon-content<
      今日のお題に沿って、一番イケてる選曲を出来るのはだれだ！？
    = partial 'layouts/footer'
- else
  .container
    %p#theme 今日のテーマ
    %p.ribbon
      %strong.ribbon-content<
      #{TodaysTopic.new.get.topic}


    %a#go{:href => "/new"} 大喜利を投稿する

    = partial 'layouts/footer'