= partial 'layouts/header'
- if current_account.blank?
  .container
    %h1 Music_Ohgiri
    %p 今日のお題に沿って、一番イケてる選曲を出来るのはだれだ！？
- else
  .container
    %h1#todays_topic #{TodaysTopic.new.get.topic}


= partial 'layouts/footer'