%html
  %head
    %script{src:'/assets/application.js'}
    %meta{charset:'utf-8'}

  = partial 'layouts/header'
  .container
    %p.ribbon
      %strong.ribbon-content<
      %span #{TodaysTopic.new.get.topic}
    %input#music_search{type: "text", placeholder:"search your music" }
    #search_container
      #search_result
      #songs_list


  / template-------------------------------
  %script{type:'text/template', id: 'search_tmpl'}
    %div.result_box{:"data-video-id" => "{{data.video_id}}", :"data-topic-id" => "#{TodaysTopic.new.get.id}" }
      %div.img
        %img{:src => "{{data.thumbnail}}", :alt => "{{data.title}}", height: '30px'}
      %div.text
        %p {{data.title}}
      %input.add_song{:type => "button", :value => 'add'}

  %script{type:'text/template', id: 'load_more_tmpl'}
    %input#load_more{ :type => "button", :"data-next-page" => "{{nextPage}}", value: 'load more' }
  /-------------------------------------template

:javascript
  $(function(){
    window.router = new Ohgiri.Routers.Router();
    Backbone.history.start();
  })

