.group
  =f.label :topic
  =f.error_message_on :topic
  =f.text_field :topic, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:todays_topics, :index)}';return false", :class => :button
