.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:todays_topics, :index)
      %li=link_to pat(:new), url(:todays_topics, :new)
      %li.active=link_to pat(:edit), url(:todays_topics, :edit, :id => @todays_topic.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:todays_topic)
    .inner
      -form_for :todays_topic, url(:todays_topics, :update, :id => @todays_topic.id), :method => :put, :class => :form do |f|
        =partial "todays_topics/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
