.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:todays_topics, :index)
      %li.active=link_to pat(:new), url(:todays_topics, :new)
  .content
    %h2.title
      =pat(:new)
      =mt(:todays_topic)
    .inner
      -form_for :todays_topic, url(:todays_topics, :create), :class => :form do |f|
        =partial "todays_topics/form", :locals => { :f => f }

-content_for :sidebar, partial("base/sidebar")
