
%html
  %head
    %link{:rel => "stylesheet", :href => "/stylesheets/base.css"}
    %script{src:'/assets/application.js'}
    %meta{charset:'utf-8'}
  %body
    #header
      .container
        %img{:src => "/images/logo.png", id: "logo"}
        - if current_account.blank?
          = link_to 'Login with Facebook', '/auth/facebook', :id => 'account'
        - else
          = link_to 'Logout', '/logout', :id => 'account'